/* General */
body {
    background-color: #000000; /* Negro por defecto */
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Estilo para el selector de colores */
.color-selector {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
}

/* Cronómetro */
.circle {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.circle::before {
    content: '';
    border-radius: 50%;
    z-index: -1;
    position: absolute;
    width: 160px;
    height: 160px;
    left: calc(50% - 80px);
    top: calc(50% - 80px);
    background-color: black;
}

.seconds-sphere {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotacion 60s linear infinite;
    animation-play-state: paused;
}

@keyframes rotacion {
    from { transform: rotate(-90deg) translateX(60px); }
    to { transform: rotate(270deg) translateX(60px); }
}

.buttons {
    margin-top: 10px;
    display: inline-flex;
}

.paused {
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent white;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}

.running {
    border-style: double;
    border-width: 0 0 0 10px;
}

.stop {
    background-color: #fff;
    height: 10px;
    width: 10px;
    cursor: pointer;
}

/* Estilo para los Atajos de Teclado */
.keyboardShortcuts {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente para mejor visibilidad */
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
}

/* Ajuste del título de la sección */
.keyboardShortcuts h2 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

/* Ajuste de la lista de atajos */
.keyboardShortcuts ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
}

.keyboardShortcuts li {
    margin: 5px 0;
}

